$primaryColor: #ff184e;
$secondaryColor: #212428;
$accentColor: #016064;
$whiteColor: #f5f5f5;
$darkGrayColor: #343a40;
$lightGrayColor: #ced4da;

:export {
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    accentColor: $accentColor;
    whiteColor: $whiteColor;
    darkGrayColor: $darkGrayColor;
    lightGrayColor: $lightGrayColor;
}
