:export {
  primaryColor: #ff184e;
  secondaryColor: #212428;
  accentColor: #016064;
  whiteColor: rgba(255, 255, 255, 0.5490196078);
  darkGrayColor: #343a40;
  lightGrayColor: #ced4da;
}

body {
  color: rgba(255, 255, 255, 0.5490196078);
  background-color: #212428;
}

.text-accent {
  color: #016064;
}

.highlight-link {
  color: rgba(255, 255, 255, 0.5490196078);
  text-decoration-color: #ff184e;
}

.f-12 {
  font-size: 12px;
}

.spin-icon {
  font-size: 20px;
  animation: spin 350ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**

    Reset bootstrap primary colors for buttons, inputs, textarea, etc..

**/
.text-primary {
  color: #ff184e !important;
}

.btn-primary {
  background-color: #ff184e;
  border-color: #ff184e;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled, .btn-primary:focus-within {
  background-color: #ff4b75 !important;
  border-color: #ff4b75 !important;
  color: rgba(255, 255, 255, 0.5490196078);
}

.text-right {
  text-align: right;
}

.row > .form-floating label {
  padding-left: 25px;
}

.form-control {
  color: #ced4da;
  background-color: #343a40;
  border: 1px solid #ced4da;
}
.form-control:focus {
  color: rgba(255, 255, 255, 0.5490196078);
  background-color: #343a40;
  border-color: #ff184e;
  box-shadow: 0 0 0 0.25rem rgba(255, 24, 78, 0.25);
}
.form-control::placeholder {
  color: #ced4da;
}
.form-control:-webkit-autofill, .form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:focus, .form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 24, 78, 0.25);
  -webkit-text-fill-color: #ced4da !important;
  -webkit-background-clip: text;
}

.form-floating > .form-control ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: rgba(255, 255, 255, 0.5490196078);
  background-color: transparent;
}

header {
  background-color: #212428;
}
header .navbar {
  display: flex;
  justify-content: space-between;
}
header .navbar .nav-categories {
  flex: auto;
}
header .navbar .nav-registration a,
header .navbar .nav-registration button {
  border-right: 1px solid #343a40;
}
header .navbar .nav-registration a:last-child, header .navbar .nav-registration a:last-child + a, header .navbar .nav-registration a:last-child + button,
header .navbar .nav-registration button:last-child,
header .navbar .nav-registration button:last-child + a,
header .navbar .nav-registration button:last-child + button {
  border-right: 0;
}
header .navbar-brand {
  display: grid;
}
header .navbar-brand .logo {
  margin: 0 auto;
}
header .navbar-brand .date {
  font-size: 12px;
}
header .search-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, max-height 0.3s ease;
}
header .search-container.visible {
  opacity: 1;
  max-height: 100px;
}

/**

    Footer Styles

**/
footer {
  background-color: #212428;
  color: rgba(255, 255, 255, 0.5490196078);
}
footer .social-list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
footer .social-list li a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5490196078);
}
footer .tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer .tags a.tag {
  text-decoration: none;
  padding: 8px;
  background-color: #ff184e;
  color: #fff;
}

/** 
    Home Page
**/
.news-scroll {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.news-scroll h3 {
  font-size: 1em;
  color: #ff184e;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: topNewsScroll 15s linear infinite;
  -webkit-animation: topNewsScroll 15s linear infinite;
  animation: topNewsScroll 15s linear infinite;
}
.news-scroll h3:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.5490196078);
}

@keyframes topNewsScroll {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.top-heading .heading-item .card-img-top,
.related-articles .heading-item .card-img-top,
.top-articles .heading-item .card-img-top {
  filter: contrast(0.7);
}
.top-heading .heading-item .publish-details,
.related-articles .heading-item .publish-details,
.top-articles .heading-item .publish-details {
  color: #fff;
  border-left: 2px solid #ff184e;
  padding-left: 6px;
}
.top-heading .heading-item .category-tag,
.related-articles .heading-item .category-tag,
.top-articles .heading-item .category-tag {
  position: absolute;
  top: 0;
  color: #fff;
  background-color: #ff184e;
  border-radius: 3px;
  padding: 5px;
  z-index: 1;
}
.top-heading .heading-item .heading-image,
.related-articles .heading-item .heading-image,
.top-articles .heading-item .heading-image {
  background-color: #212428;
}

/**
    Article Page
**/
.article-page .article-author {
  border-left: 2px solid #ff184e;
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
