@import "./variables/variables.module.scss";

body {
    color: $whiteColor;
    background-color: $secondaryColor;
}

.text-accent {
    color: $accentColor;
}

.highlight-link {
    color: $whiteColor;
    text-decoration-color: $primaryColor;
}
.f-12 {
    font-size: 12px;
}
.bg-dark-secondary {
    background-color: $secondaryColor;
}
.text-muted {
    color: #dddddd !important;
}
.border-left-primary {
    border-left: 2px solid $primaryColor;
    padding-left: 5px;
}
.spin-icon {
    font-size: 20px;
    animation: spin 350ms linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/**

    Reset bootstrap primary colors for buttons, inputs, textarea, etc..

**/
.text-primary {
    color: $primaryColor !important;
}
.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: #fff;
    &:hover,
    &:focus,
    &:active,
    &:disabled,
    &:focus-within {
        background-color: lighten($primaryColor, 10%) !important;
        border-color: lighten($primaryColor, 10%) !important;
        color: $whiteColor;
    }
}
.text-right {
    text-align: right;
}
.row > .form-floating {
    label {
        padding-left: 25px;
    }
}

.form-control {
    color: $lightGrayColor;
    background-color: $darkGrayColor;
    border: 1px solid $lightGrayColor;
    &:focus {
        color: $whiteColor;
        background-color: $darkGrayColor;
        border-color: $primaryColor;
        box-shadow: 0 0 0 0.25rem rgba(255, 24, 78, 0.25);
    }
    &::placeholder {
        color: $lightGrayColor;
    }

    // For chrome auto-complete changing color
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 24, 78, 0.25);
        -webkit-text-fill-color: $lightGrayColor !important;
        -webkit-background-clip: text;
    }
}
.form-floating > .form-control ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: $whiteColor;
    background-color: transparent;
}

// Fix intl phone number selector conflicts
.intl-tel-input .country-list {
    background-color: $darkGrayColor;
    z-index: 3;
}

header {
    background-color: $secondaryColor;
    .navbar {
        display: flex;
        justify-content: space-between;

        .nav-categories {
            flex: auto;
        }

        .nav-registration {
            a,
            button {
                border-right: 1px solid $darkGrayColor;
                &:last-child,
                &:last-child + a,
                &:last-child + button {
                    border-right: 0;
                }
            }
        }
    }

    .navbar-brand {
        display: grid;
        .logo {
            margin: 0 auto;
        }
        .date {
            font-size: 12px;
        }
    }

    .search-container {
        opacity: 0;
        max-height: 0;
        transition: opacity 0.7s ease, max-height 0.3s ease;
    }
    .search-container.hidden {
        overflow: hidden;
    }
    .search-container.visible {
        opacity: 1;
        max-height: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .articles.filter > div {
        margin-bottom: 5px;
    }
}

/**

    Footer Styles

**/
footer {
    background-color: $secondaryColor;
    color: $whiteColor;

    .social-list {
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        li {
            a {
                font-size: 25px;
                color: $whiteColor;
            }
        }
    }

    .tags {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a.tag {
            text-decoration: none;
            padding: 8px;
            background-color: $primaryColor;
            color: #fff;
        }
    }
}

/** 
    Home Page
**/

.news-scroll {
    // display: inline-flex;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.news-scroll h3 {
    font-size: 1em;
    color: $primaryColor;
    margin: 0;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    animation: topNewsScroll 45s linear infinite;
}

@keyframes topNewsScroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.top-heading,
.related-articles,
.top-articles,
.top-news {
    .heading-item {
        .card-img-top {
            filter: contrast(0.7);
        }

        .publish-details {
            color: #fff;
            border-left: 2px solid $primaryColor;
            padding-left: 6px;
            text-align: left;
        }

        .category-tag {
            position: absolute;
            top: 0;
            color: #fff;
            background-color: $primaryColor;
            border-radius: 3px;
            padding: 5px;
            z-index: 1;
        }

        .heading-image {
            background-color: $secondaryColor;
            overflow: hidden;
        }
    }
    @media only screen and (min-width: 992px) {
        .small-heading {
            .heading-image {
                .card-img-top {
                    height: 200px;
                }
            }
        }
    }
}
/**
    Article Page
**/
.article-page {
    .article-author {
        border-left: 2px solid $primaryColor;
        padding-left: 5px;
    }
}
